th {
  white-space: nowrap;
}

.whitelink {
  color: #aaa;
  cursor: pointer;
}

.whitelink:hover {
  color: #eee;
  text-decoration: underline;
}

label.whitelink {
  margin: 0;
}

.error-box {
  white-space: pre-wrap;
  background-color: #f99;
  padding: 8pt;
  display: none;
}
